body{
    background-color: rgb(229, 216, 241);
}

p{
    font-size: 30px;
}

#score{
    font-size: 60px;
    margin: left;
    float: left;
}

#timer{
    font-size: 60px;
    margin: right;
    float: right;
    margin-right: 60px;
}
canvas{
    border: 5px solid blueviolet;
    border-radius: 5%;
}